<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

  <h2>Consultar producto</h2>

  <form id="getProducto-form" autocomplete="off">

      <label for="idProd">Id producto</label>
      <input type="number" name="idProd" id="idProd" required>

      <input type="submit" value="Consultar producto">
  </form>
  </div>
  
  <div id="getId-container">
  <ul id="getId-list">
  </ul>
  </div>

<script>
  const url = "http://localhost:3000/api";
  let getProduct_form = document.getElementById("getProducto-form");
  let getId_lista = document.getElementById("getId-list");

  getProduct_form.addEventListener("submit", async (event) => {

  event.preventDefault();

  try {
    let formData = new FormData(event.target); 

    let data = Object.fromEntries(formData.entries());
    console.log(data);

    let idProd = data.idProd.trim(); 
    console.log(idProd);

      
    if(!idProd) {
      throw new Error("Error en el envio de datos del formulario");
    }

    let response = await fetch(`${url}/products/${idProd}`);

    if(!response.ok) {
        throw new Error(`Error ${response.status}: ${response.statusText}`);
    }


    let datos = await response.json();
    console.log(datos);

    if(!datos.payload) {
        throw new Error("No se encontro el producto")
    }

    let producto = datos.payload;

    mostrarProducto(producto);

  } catch (error) {
      console.error("Error al obtener el producto: ", error);
  }
  });

  function mostrarProducto(producto) {
    let htmlProducto = `
      <li class="li-listados productos-listados">
          <div class="li-listados_datos">
            <p>Id: ${producto.id}</p>
            <p>Nombre: ${producto.nombre}</p>
            <p><strong>Precio: $${producto.precio}</strong></p>
            <img src="${producto.imagen}" alt="${producto.nombre}" class="img-listados">
          </div>
      </li>
    `;

    getId_lista.innerHTML = htmlProducto;
  }

</script>
  
<%- include("partials/footer.ejs") %>