<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

  <h2>Consultar producto</h2>

  <form action="/api/products/" method="GET" autocomplete="off">

      <label for="idProd">Id producto</label>
      <input type="number" name="idProd" id="idProd" required>

      <input type="submit" value="Consultar producto">
  </form>
  </div>
  
  <div id="getId-container">
  <ul id="getId-list">
  </ul>
  </div>

<%- include("partials/footer.ejs") %>