<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

  <h2>Consultar producto</h2>

  <form id="getProduct-form">
      <label for="idProd">Id producto</label>
      <input type="number" name="idProd" id="idProd" required>

      <input type="submit" value="Eliminar producto">
  </form>


<%- include("partials/footer.ejs") %>