<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

  <h2>Eliminar producto</h2>

  <form id="getProducto-form">
      <label for="idProd">Id producto</label>
      <input type="number" name="idProd" id="idProd" required>

      <input type="submit" value="Eliminar producto">
  </form>

  <div id="getId-container">
      <ul id="getId-list">
      </ul>
  </div>
  
  <script>
    const url = "http://localhost:3000/api";
    let getProduct_form = document.getElementById("getProducto-form");
    let getId_lista = document.getElementById("getId-list");

    getProduct_form.addEventListener("submit", async (event) => {

    event.preventDefault();

    try {
      let formData = new FormData(event.target); 

      let data = Object.fromEntries(formData.entries());
      console.log(data);

      let idProd = data.idProd.trim(); 
      console.log(idProd);

        
      if(!idProd) {
        throw new Error("Error en el envio de datos del formulario");
      }

      let response = await fetch(`${url}/products/${idProd}`);

      if(!response.ok) {
          throw new Error(`Error ${response.status}: ${response.statusText}`);
      }


      let datos = await response.json();
      console.log(datos);

      if(!datos.payload) {
          throw new Error("No se encontro el producto")
      }

      let producto = datos.payload;

      mostrarProducto(producto);

    } catch (error) {
        console.error("Error al obtener el producto: ", error);
    }
    });

    function mostrarProducto(producto) {
      let htmlProducto = `
        <li class="li-listados productos-listados">
            <div class="li-listados_datos">
              <p>Id: ${producto.id}</p>
              <p>Nombre: ${producto.nombre}</p>
              <p><strong>Precio: $${producto.precio}</strong></p>
              <img src="${producto.imagen}" alt="${producto.nombre}" class="img-listados">
            </div>
            <div class="li-listados_boton">
                <input class="listados_boton" id="deleteProduct_button" type="button" value="Eliminar producto">
            </div>
        </li>
      `;

      getId_lista.innerHTML = htmlProducto;

      let idProd = producto.id;
      let deleteProduct_button = document.getElementById("deleteProduct_button");

      deleteProduct_button.addEventListener("click", function(event) {

        event.stopPropagation();

        let confirmacion = confirm("Querés eliminar este producto?");

        if(confirmacion) {
          eliminarProducto(idProd);
        } else {
          alert("Eliminacion cancelada");
        }
      });
    }

    async function eliminarProducto(id) {
        try {
            let response = await fetch(`${url}/products/${id}`, {
                method: "DELETE"
            });

            let result = await response.json();

            if(response.ok) {
                alert(result.mensaje);
                getId_lista.innerHTML = "";
                return true;

            } else {
                console.error("Error:", result.mensaje);
                alert("Ocurrio un error al eliminar el producto");
                return false;
            }

        } catch (error) {
            console.error("Error en la solicitud DELETE:", error);
            alert("Ocurrio un error al eliminar el producto");
            return false;
        }
    }

  </script>

  
<%- include("partials/footer.ejs") %>