<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Login Admin</title>
  <style>
  </style>
  
</head>
<body>
  <h1 style="text-align: center;">Login Administrador</h1>

  <form action="/admin/login" method="POST">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Ingresar</button>
  </form>
  
</body>
</html>
