<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

  <h2>Modificar producto</h2>

  <form id="getProducto-form">
      <label for="idProd">Id producto</label>
      <input type="number" name="idProd" id="idProd" required>

      <input type="submit" value="Buscar producto">
  </form>
  </div>

  <div id="getId-container">
  <ul id="getId-list">
  </ul>
  </div>

  <div id="updateForm-container"></div>

  <script>

    const url = "http://localhost:3000/api";

    let getProduct_form = document.getElementById("getProducto-form");
    let getId_lista = document.getElementById("getId-list");
    let updateForm_container = document.getElementById("updateForm-container");

    getProduct_form.addEventListener("submit", async (event) => {

      event.preventDefault();

      try {

        let formData = new FormData(event.target); 

        let data = Object.fromEntries(formData.entries());
        console.log(data);

        let idProd = data.idProd.trim(); 
        console.log(idProd);

        if(!idProd) {
          throw new Error("No se encontró el id");
        }

        let response = await fetch(`${url}/products/${idProd}`);

        if(!response.ok) {
            throw new Error(`Error ${response.status}: ${response.statusText}`);
        }

        let datos = await response.json();
        console.log(datos);

        if(!datos.payload) {
          throw new Error("No se encontro el producto solicitado")
        }

        let producto = datos.payload;
        console.log(producto);

        let htmlProducto = `
          <li class="li-listados productos-listados">
            <div class="li-listados_datos">
              <p>Id: ${producto.id}</p>
              <p>Nombre: ${producto.nombre}</p>
              <p><strong>Precio: $${producto.precio}</strong></p>
              <img src="${producto.imagen}" alt="${producto.nombre}" class="img-listados">
            </div>
            <div class="li-listados_boton">
              <input class="listados_boton" id="updateProduct_button" type="button" value="Actualizar producto">
            </div>
          </li>
        `;

        getId_lista.innerHTML = htmlProducto;

        let updateProduct_button = document.getElementById("updateProduct_button");

        updateProduct_button.addEventListener("click", function(event) {
          formularioModificarProducto(event, producto);
        });


      } catch (error) {
            console.error("Error al obtener el producto: ", error);
      }
    });

    function formularioModificarProducto(event, producto) {
        event.stopPropagation();
        console.log(producto);

        let updateProduct = `
        <div id="updateProducts-container">
            <h2>Actualizar producto</h2>

            <form id="updateProducts-form" autocomplete="off">

              <label for="idProd">Id</label>
              <input type="number" name="id" id="idProd" value="${producto.id}" readonly>
              
              <label for="imagenProd">Imagen</label>
              <input type="text" name="imagen" id="imagenProd" value="${producto.imagen}" required>
              
              <label for="nombreUser">Nombre</label>
              <input type="text" name="nombre" id="nombreUser" value="${producto.nombre}" required>
              
              <label for="precioProd">Precio</label>
              <input type="number" name="precio" id="precioProd" value="${producto.precio}" required>
              
              <label for="categoryProd">Categoria</label>
              <select name="categoria" id="categoriaProd" required>
                <option value="libro">libro</option>
                <option value="comic">comic</option>
              </select>

              <input type="submit" value="Actualizar producto">
            </form>
        </div>
        `;

        updateForm_container.innerHTML = updateProduct;


        let updateProducts_form = document.getElementById("updateProducts-form");

        updateProducts_form.addEventListener("submit", function(event) {
            actualizarProducto(event);
        });
    }

    async function actualizarProducto(event) {

        event.preventDefault();

        let formData = new FormData(event.target);

        let data = Object.fromEntries(formData.entries());
        console.table(data);

        if(!data.nombre || !data.imagen || !data.precio) {
            alert("Todos los campos son obligatorios");
            return;
        }


        try {
            let response = await fetch(`${url}/products/${data.id}`, {
                method: "PUT",
                headers: {
                  "Content-type" : "application/json",
                },
                body: JSON.stringify(data)
            });

            if(response.ok) {
                console.log(response);

                let result = await response.json();
                console.log(result.mensaje);
                alert(result.mensaje);

                getId_lista.innerHTML = "";
                updateForm_container.innerHTML = "";

            } else {
                let error = await response.json();
                console.log("Error", error.mensaje)
            }

        } catch (error) {
            console.log("Error al enviar los datos", error);
            alert("Error al procesar la solicitud");
        }
    }

  </script>
  
<%- include("partials/footer.ejs") %>