<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Dashboard Admin</title>
</head>

<body>

  <h1>Dashboard</h1>
  <ul>
    <% productos.forEach(p => { %>
      <li><%= p.nombre %> - $<%= p.precio %> - <%= p.activo ? "Activo" : "Inactivo" %></li>
    <% }) %>
  </ul>
  
</body>
</html>
