<header>

    <div id="logo-nav">
    <img class="img-logo" src="/img/logo.png" alt="Logo libreria Rodriguez-Lopez">
    <p class="p-logo">Libreria Rodriguez-Lopez</p>
    </div>

    <ul>
        <a href="/admin/dashboard"> 
            <li class="links-header"> Productos </li>
        </a>

        <a href="/admin/dashboard/consultar"> 
            <li class="links-header"> Consultar  </li>
        </a>

        <a href="/admin/dashboard/crear">
            <li class="links-header"> Crear </li>
        </a>

        <a href="/admin/dashboard/modificar">
            <li class="links-header"> Modificar </li>
        </a>
        
        <a href="/admin/dashboard/eliminar"> 
            <li class="links-header"> Eliminar </li>
        </a>

    </ul>


</header>